<link href="static/css/traffic.css" rel="stylesheet" type="text/css"/>
{% for k, v in blockArray[count]["anwb"].iteritems() %}
 <div id="traffic_anwb_{{count}}" class="row">
     <div class="x_panel">
        <div class="x_title">
            <h2>Verkeer - {{v[0]}}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                            class="fa fa-wrench"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <ul class="tab">
            <li><a href="javascript:void(0)" id="defaultOpen_{{count}}" class="tablinks" onclick="openCat(event, {{count}}, 'routeInfo_{{count}}')">Route</a>
            </li>
            <li><a href="javascript:void(0)" class="tablinks" onclick="openCat(event, {{count}}, 'traffic_{{count}}')">Traffic</a></li>
            <li><a href="javascript:void(0)" class="tablinks" onclick="openCat(event, {{count}}, 'google_{{count}}')">Google maps</a></li>
        </ul>
        <div id="routeInfo_{{count}}" class="tabcontent">
            <div id="route_to_{{count}}" class="routeinfo_to">
                <div id="route_to_info_{{count}}">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td style="font-weight: bold;">From:</td>
                            <td id="from_to_{{count}}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">To:</td>
                            <td id="to_to_{{count}}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Roads:</td>
                            <td id="roads_to_{{count}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Vertraging</th>
                        <th>Aankomst</th>
                        <th>Duur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="vertraging_to_{{count}}" class=""></td>
                        <td id="aankomst_to_{{count}}"></td>
                        <td id="duur_to_{{count}}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="route_back_{{count}}" class="routeinfo_back">
                <div id="route_back_info_{{count}}">
                     <table class="table">
                        <tbody>
                        <tr>
                            <td style="font-weight: bold;">From:</td>
                            <td id="from_back_{{count}}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">To:</td>
                            <td id="to_back_{{count}}"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Roads:</td>
                            <td id="roads_back_{{count}}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Vertraging</th>
                        <th>Aankomst</th>
                        <th>Duur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="vertraging_back_{{count}}" class=""></td>
                        <td id="aankomst_back_{{count}}"></td>
                        <td id="duur_back_{{count}}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="flitsmeister_{{count}}">
            <div id="traffic_{{count}}" class="tabcontent">
              <div id="traffic_radar_{{count}}" class="hide">
                <h2>Flitsers</h2>
                <table id='Table_count_{{count}}' class="table">
                    <thead>
                    <tr>
                        <th class="roadCell">Road</th>
                        <th class="locCell">Location</th>
                        <th class="hmpCell">HMP</th>
                    </tr>
                    </thead>
                    <tbody id="body_{{count}}">
                    </tbody>
                </table>
              </div>
              <div id="traffic_files_{{count}}" class="hide">
                <h2>Files</h2>
                <table id="filesTable_count_{{count}}" class="table">
                    <thead>
                    <tr>
                        <th class="roadCell">Road</th>
                        <th class="locCell">Location</th>
                        <th class="detailsCell">Details</th>
                        <th class="delayCell">Delay</th>
                        <th class="distanceCell">Distance</th>
                    </tr>
                    </thead>
                    <tbody id="filesbody_{{count}}">
                    </tbody>
                </table>
              </div>
              <div id="traffic_traject_{{count}}" class="hide">
                <h2>Traject Controles</h2>
                <table id="trajectTable_count_{{count}}" class="table">
                    <thead>
                    <tr>
                        <th class="roadCell">Road</th>
                        <th class="locTrajectCell">Location</th>
                        <th class="detailTrajectCell">Details</th>
                    </tr>
                    </thead>
                    <tbody id="trajectbody_{{count}}">
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <div id="google_{{count}}" class="tabcontent">
            <div id="google_tab_{{count}}">
                <h2>Google maps</h2>
                <iframe
                id="googleLocationIframe_{{count}}"
                width=100%
                height=450
                frameborder="0" style="border:0"
                src="" allowfullscreen>
              </iframe>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script type="text/javascript" charset="utf-8">
    function openCat(evt, count, catName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementById("traffic_anwb_" + count).getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementById("traffic_anwb_" + count).getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // Show the current tab, and add an "active" class to the link that opened the tab
        document.getElementById(catName).style.display = "block";
        evt.currentTarget.className += " active";
    }
String.prototype.beginsWith = function (string) {
  return(this.indexOf(string) === 0);
};

    function addCatRoadClass(road, rowid) {
        // Check Road for correct class
        if (road.beginsWith('A')) {
            $("#" + rowid).addClass(' aRoad');
        } else if (road.beginsWith('N')) {
            $("#" + rowid).addClass(' nRoad');
        } else if (road.beginsWith('E')) {
            $("#" + rowid).addClass(' eRoad');
        } else {
            $("#" + rowid).addClass(' place');
        }
    }
    function dec2hex(dec) {
        return dec.toString(16)
    }

    function checkEmpty(id) {
      var tbody = $("#" + id);

      if (tbody.children().length  == 0) {
        return false
      } else {
        return true
      }
    }
    function generateId(road) {
        var len = 20;
        var arr = new Uint8Array((len || 40) / 2)
        var result = '';
        window.crypto.getRandomValues(arr)
        result = Array.from(arr).map(dec2hex).join('')
        result = result + '_' + road;
        return result
    }

    $(document).ready(function () {
        document.getElementById("defaultOpen_{{count}}").click();
        function isInArray(array, search) {
            return array.indexOf(search) >= 0;
        }

        function rewriteAnwbInfo() {
            {% for k, v in blockArray[count]["anwb"].iteritems() %}
            var Table = document.getElementById('Table_count_{{count}}').getElementsByTagName('tbody')[0];
            var trajectTable = document.getElementById('trajectTable_count_{{count}}').getElementsByTagName('tbody')[0];
            var filesTable = document.getElementById('filesTable_count_{{count}}').getElementsByTagName('tbody')[0];
            // Auto update display data divs
            url = "/api?custom=anwb&start={{v[1]}}&end={{v[2]}}";
            requestAPI(url, function(d){
                json = JSON.parse(d);
               $("#roads_to_{{count}}").html(json.to.roads);
               $("#from_to_{{count}}").html(json.to["from"]);
               $("#to_to_{{count}}").html(json.to["to"]);
               $("#duur_to_{{count}}").html(json.to["duur"]);
               $("#aankomst_to_{{count}}").html(json.to["aankomst"]);
               $("#vertraging_to_{{count}}").html(json.to["vertraging"]);
               el = document.getElementById('vertraging_to_{{count}}');
               if (json.to["vertraging_sec"] >= 600) {
                   el.className = "delay_high";
               }
               if (json.to['vertraging_sec'] < 600 && json.to['vertraging_sec'] > 0) {
                   el.className = "delay_medium";
               }

               $("#roads_back_{{count}}").html(json.back.roads);
               $("#from_back_{{count}}").html(json.back["from"]);
               $("#to_back_{{count}}").html(json.back["to"]);
               $("#duur_back_{{count}}").html(json.back["duur"]);
               $("#aankomst_back_{{count}}").html(json.back["aankomst"]);
               $("#vertraging_back_{{count}}").html(json.back["vertraging"]);
               el = document.getElementById('vertraging_back_{{count}}');
               if (json.back["vertraging_sec"] >= 600) {
                   el.className = "delay_high";
                   console.log("delay High");
               }
               if (json.back['vertraging_sec'] < 600 && json.back['vertraging_sec'] > 0) {
                   el.className = "delay_medium";
               }


               $("#body_{{count}} tr").remove();
               $("#trajectbody_{{count}} tr").remove();
               $("#filesbody_{{count}} tr").remove();

               var roadsArray = json.to.roadsCheck.split(',');
               for (i in json.traffic) {
                   if (isInArray(roadsArray, json.traffic[i].road)) {
                       for (a in json.traffic[i].roadWorks) {
                           var row = trajectTable.insertRow(trajectTable.rows.length);
                           var celRoad = row.insertCell(0);
                           var celLocation = row.insertCell(1);
                           var celDetails = row.insertCell(2);
                           var rowid = generateId(json.traffic[i].road) + '_{{count}}';
                           celRoad.innerHTML = '<div id="' + rowid + '" class="road">' + json.traffic[i]['road'] + '</div>';
                           addCatRoadClass(json.traffic[i]['road'], rowid);

                           if (json.traffic[i].roadWorks[a].reason) {
                               celDetails.innerHTML = json.traffic[i].roadWorks[a].reason;
                           } else {
                               celDetails.innerHTML = json.traffic[i].roadWorks[a].description;
                           }
                           celLocation.innerHTML = json.traffic[i].roadWorks[a].location;
                       }
                       for (a in json.traffic[i].trafficJams) {
                           var row = filesTable.insertRow(filesTable.rows.length);
                           var celRoad = row.insertCell(0);
                           var celLocation = row.insertCell(1)
                           var celDetails = row.insertCell(2);
                           var celDelay = row.insertCell(3);
                           var celLength = row.insertCell(4);
                           var rowid = generateId(json.traffic[i].road) + '_{{count}}';
                           celDelay.innerHTML = json.traffic[i].trafficJams[a].delay;
                           celLength.innerHTML = json.traffic[i].trafficJams[a].distance;
                           celRoad.innerHTML = '<div id="' + rowid + '" class="road">' + json.traffic[i]['road'] + '</div>';
                           addCatRoadClass(json.traffic[i]['road'], rowid);
                           if (json.traffic[i].trafficJams[a].reason) {
                               celDetails.innerHTML = json.traffic[i].trafficJams[a].reason;
                           } else {
                               celDetails.innerHTML = json.traffic[i].trafficJams[a].description;
                           }
                           celLocation.innerHTML = json.traffic[i].trafficJams[a].location;
                       }
                       for (a in json.traffic[i].radars) {
                           var row = Table.insertRow(Table.rows.length);
                           var celRoad = row.insertCell(0);
                           var celLocation = row.insertCell(1);
                           var celDetails = row.insertCell(2);
                           var rowid = generateId(json.traffic[i].road) + '_{{count}}';
                           celRoad.innerHTML = '<div id="' + rowid + '" class="road">' + json.traffic[i]['road'] + '</div>';
                           addCatRoadClass(json.traffic[i]['road'], rowid);
                           if (json.traffic[i].radars[a].reason) {
                               celDetails.innerHTML = json.traffic[i].radars[a].reason;
                           } else {
                               celDetails.innerHTML = json.traffic[i].radars[a].description;
                           }
                           celLocation.innerHTML = json.traffic[i].radars[a].location;
                       }
                   }

            }

            var iframe = $('#googleLocationIframe_{{count}}');
            var locurl = "https://www.google.com/maps/embed/v1/directions?key=" + googleMapEmbedKey + "&origin=" + json.to["from"] + "&destination=" + json.to["to"];
            iframe.attr('src',locurl);

            if (checkEmpty('body_{{count}}')) {
              $('#traffic_radar_{{count}}').addClass('show').removeClass('hide');
            }
            if (checkEmpty('filesbody_{{count}}')) {
              $('#traffic_files_{{count}}').addClass('show').removeClass('hide');
            }
            if (checkEmpty('trajectbody_{{count}}')) {
              $('#traffic_traject_{{count}}').addClass('show').removeClass('hide');
            }
          });
       {% endfor %}
        }

        rewriteAnwbInfo();
        setInterval(rewriteAnwbInfo, 20000);
    });
</script>
